* {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  background: #FFF;
  color: #000;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.layout {
  display: grid;
  height: 721px;
  grid-template-columns: 70px repeat(4, 1fr) 25%;
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "header nav main main main aside"
    "header nav main main main aside"
    "header nav main main main aside" 
    "header nav main main main aside";
}

.layout header,
.layout nav,
.layout main,
.layout footer {
  background: #fff;
  padding: 20px;
  width: auto;
  height: auto;
}

.layout header {
  background: cornflowerblue;
  color: #fff;
  grid-area: header;
  text-align: center;
  box-shadow: 0px 1px 2px #999;
}

.layout nav {
  background: #e4e5e7;
  display: flex;
  flex-direction: column;
  grid-gap: 5px;
  grid-area: nav;
}

.layout main {
  background: #FFF;
  /* text-align: justify; */
  grid-area: main;
  flex-direction: row;
}

.layout aside {
  background: #f4f5f7;
  text-align: center;
  color: #fff;
  grid-area: aside;
}

.layout .nav-responsive {
  display: none;
}

@media (max-width: 980px) {
  .layout .nav-responsive {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    grid-area: nav-responsive;
    padding: 20px;
  }

  .layout { 
    grid-template-areas: "nav-responsive nav-responsive nav-responsive nav-responsive nav-responsive nav-responsive"
    "main main main main main main"
    "nav nav nav nav nav nav"
    "aside aside aside aside aside aside"
  }
  
  .layout nav,
  .layout aside, 
  .layout header{
    display: none;
  }

}