/* MAIN CONTAINER */
section .content-Titlebuttons {
  background: red;
   display: flex;
  /* flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; */
  margin-bottom: 20px;
  height: auto;
  width: auto;
}

/* BUTTON CONTAINER */
section .content-Titlebuttons .content-buttons {
  display: flex;
  flex-wrap: nowrap;
  padding: 5px;
  gap: 5px;
}
