.content-Breadcrumb {
  height: auto;
}

.content-Breadcrumb .routes {
  color: #959ead;
  margin-bottom: 10px;
  text-align: left;
  font-size: 15px;
  text-decoration: none;
  font-style: normal;
  height: 50px;
}