* {
  margin: 0;
  padding: 0;
}

body {
  background: #E9ECF4;
  color: #000;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-style: normal;
}

.layout {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(6 , 1fr);
  grid-template-rows: repeat(4, auto);

  grid-template-areas: "header header header header header header"
    "nav main main main main main"
    "nav main main main main main" 
    "footer footer footer footer footer footer";

  /* grid-template-areas: "footer footer footer footer footer footer"
    "header main main main main nav"
    "header main main main main nav" 
    "header main main main main nav"; */
}

.layout > header,
.layout nav,
.layout main,
.layout footer {
  background: #fff;
  padding: 20px;
}

.layout > header {
  background: cornflowerblue;
  color: #fff;
  /* grid-column: 1 / 7; */
  grid-area: header;
  text-align: center;
  box-shadow: 0px 1px 2px #999;
}

.layout > nav {
  background: #F0F4F8;
  /* grid-column: span 1; */
  display: flex;
  flex-direction: column;
  grid-gap: 5px;
  grid-area: nav;
}

.layout > main {
  background: #D9E2EC;
  /* grid-column: span 5; */
  text-align: justify;
  grid-area: main;
}

.layout > footer {
  background: #fAA43D;
  /* grid-column: span 6; */
  text-align: center;
  color: #fff;
  grid-area: footer;
} 

@media (max-width: 768px) {
  .layout { 
    grid-template-areas: "header header header header header header"
    "nav nav nav nav nav nav "
    "main main main main main main" 
    "footer footer footer footer footer footer";
  }
}